# Copy this .env.template file to .env
# This file will not contain any sensitive information

# Path to local notes(needs to correlate to local sources defined in sources.json file
NOTES_PATH=

# Indexing rate; Default: 10000 (hardcoded)
RATE=
