# Dependencies
node_modules/

# Sources
sources.json
sources copy.json

# Generated index
data/
*.meta.json

# Offline notes (uncomment if you want to keep notes private)


# Logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo
*~
*.code-workspace
